.following{
    flex: 1;
    width: 400px;
    margin-left: -18.2%;
    padding: 2.5rem;
}

/* profile */
.profile-f{
    width: 100%;
    margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 1rem;
}

.profile-container-f>:nth-child(1){
   border-radius: 50%;
   scale: 0.8; 
}


.profile-container-f>:nth-child(2){
   margin-left: 0.5rem;  
   font-size: small;
 }
 
.grey{
   color:grey;
}
.profile-container-f{
   display: flex;
   flex-direction: row;
   align-items: center;
}
.color{
    color: blue;

}

.following-suggestion{
    width: 100%;
    margin: auto;
    display: flex;
    padding-bottom: 1.5rem;
    justify-content:space-between;

}

.last-sec-follow{
    padding-top:3rem;
    font-size: small;
}

.last-sec-follow>:nth-child(2){
   margin-top: 2rem;
   gap: 1rem;
}